@model IEnumerable<WebprosjektBankOblig.Models.Betaling>

@{
    ViewBag.Title = "Betalinger";
}
<div class="container">

    <div class="text-center">
        <h2>Oversikt over betalinger</h2>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.frakonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tilkonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beløp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.melding)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="frakonto">
                    @Html.DisplayFor(modelItem => item.frakonto)
                </td>
                <td class="tilkonto">
                    @Html.DisplayFor(modelItem => item.tilkonto)
                </td>
                <td class="dato">
                    @Html.DisplayFor(modelItem => item.dato)
                </td>
                <td class="beløp">
                    @Html.DisplayFor(modelItem => item.beløp)
                </td>
                <td class="melding">
                    @Html.DisplayFor(modelItem => item.melding)
                </td>
                <td>
                    @Html.ActionLink("Endre", "Endre", new { id = item.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Oversikt", "Oversikt", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Slett", "Slett", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>


