@model IEnumerable<WebprosjektBankOblig.Models.Betaling>

@{
    ViewBag.Title = "Betalinger";
}
<div class="container">

    <div class="text-center">
        <h2>Oversikt over betalinger</h2>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.frakonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tilkonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beløp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.melding)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="frakonto">
                    @Html.DisplayFor(modelItem => item.frakonto)
                </td>
                <td class="tilkonto">
                    @Html.DisplayFor(modelItem => item.tilkonto)
                </td>
                <td class="dato">
                    @Html.DisplayFor(modelItem => item.dato)
                </td>
                <td class="beløp">
                    @Html.DisplayFor(modelItem => item.beløp)
                </td>
                <td class="melding">
                    @Html.DisplayFor(modelItem => item.melding)
                </td>
                <td>
                    <a class="EndreBtn btn btn-default" data-id="@item.Id" href="#">Endre</a>
                    <a class="SlettBtn btn btn-danger" data-id="@item.Id" href="#">Slett</a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="modal fade" id="AdminEndreBetalingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Endre Betaling</h4>
            </div>
            <div class="modal-body form-group-lg">

                <div class="form-group">
                    <input type="text" class="frakonto form-control" />
                </div>
                <div class="form-group ce">
                    <input type="text" class="tilkonto form-control" />
                </div>
                <div class="form-group">
                    <input type="date" class="dato form-control" />
                </div>
                <div class="form-group">
                    <input type="text" class="beløp form-control" />
                </div>
                <div class="form-group">
                    <input type="text" class="melding form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-block btn-danger" href="">Endre</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AdminSlettBetalingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slett Betaling</h4>
            </div>
            <div class="modal-body">
                Er du sikker på du vil slette betalingen?
            </div>
            <div class="modal-footer">
                <a class="btn btn-block btn-danger" href="">Slett</a>
            </div>
        </div>
    </div>
</div>

<script>
    var $modal = $("#AdminEndreBetalingModal");
    var $slettmodal = $("#AdminSlettBetalingModal");

    $(".EndreBtn").on("click", function () {
        var $h = $(this);
        var $tr = $h.closest("tr");

        var id = $h.attr("data-id");
        var frakonto = $tr.find(".frakonto").html().trim();
        var tilkonto = $tr.find(".tilkonto").html().trim();
        var dato = $tr.find(".dato").html().trim();
        var beløp = $tr.find(".beløp").html().trim();
        var melding = $tr.find(".melding").html().trim();

        $modal.find(".frakonto").val(frakonto);
        $modal.find(".tilkonto").val(tilkonto);
        $modal.find(".dato").val(dato);
        $modal.find(".beløp").val(beløp);
        $modal.find(".melding").val(melding);

        $modal.modal("show");
    });
    $(".SlettBtn").on("click", function () {
        var $h = $(this);
        var $tr = $h.closest("tr");

        $slettmodal.modal("show");
    });
</script>

