@model IEnumerable<WebprosjektBankOblig.Models.LoggEntry>

@{
    ViewBag.Title = "Logg";
}

<div class="container text-center">

    <h2>Logg</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bruker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beskrivelse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.affectedId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bruker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.success)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beskrivelse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.affectedId)
                </td>
            </tr>
        }

    </table>

</div>
