@model IEnumerable<WebprosjektBankOblig.Models.Betaling>

@{
    ViewBag.Title = "Betalinger";
}
<div class="container">

    <div class="text-center">
        <h2>Oversikt over betalinger</h2>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.frakonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tilkonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beløp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.melding)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.frakonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tilkonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beløp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.melding)
                </td>
                <td>
                    @Html.ActionLink("Endre", "Endre", new { id = item.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Oversikt", "Oversikt", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    <button class="DeleteBtn btn btn-danger" data-id="@item.Id">Slett</button>
                </td>
            </tr>
        }

    </table>
</div>

<!-- Modal -->
<div class="modal fade " id="deleteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slett betaling</h4>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil slette betalingen?</p>
            </div>
            <div class="modal-footer">
                <button id="ConfirmDelete" class="btn btn-danger btn-block btn-lg">Slett</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".DeleteBtn").on("click", function () {
        var $h = $(this);

        var $id = $h.attr("data-id");

        $("#deleteModal").modal("show");

        $("#ConfirmDelete").one("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Slett", "Betaling")" + "/" + $id,
                data: { id: $id },
                success: function () {
                    $("#deleteModal").modal("hide");
                    location.reload();
                }
            });
        });
    });
</script>
