@model WebprosjektBankOblig.Models.Betaling

@{
    ViewBag.Title = "Oversikt";
}
<div class="container">

    <h2 class="text-center">Oversikt</h2>


    <div class="form-horizontal">
        <h4>Betaling</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.frakonto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.frakonto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tilkonto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tilkonto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dato)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dato)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.beløp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beløp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.melding)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.melding)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Endre", "Endre", new { id = Model.Id }, new { @class = "btn btn-default" }) |
        @Html.ActionLink("Tilbake", "Index", new { id = Model.Id }, new { @class = "btn btn-default" })
    </p>

</div>