@model WebprosjektBankOblig.Models.Betaling

@{
    ViewBag.Title = "Legg inn betaling";

    var kontolist = ViewData["Kontoer"] as List<WebprosjektBankOblig.Models.Konto>;

    var selectList = new SelectList((from d in kontolist select new { Id = d.kontonr, Name = d.kontotype }).ToList(), "Id", "Name");

}

<div class="container">

    <h2 class="text-center">Legg inn betaling</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.frakonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.frakonto, selectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.frakonto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tilkonto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tilkonto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tilkonto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.dato, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dato, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.beløp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.beløp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.beløp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.melding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.melding, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.melding, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="registerForm" value="Legg Inn" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</div>

@if (Session["admin"] == null)
{
     <!-- Modal -->
    <div class="modal fade" id="nybetalingModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>BankID</h3>
                    <div class="jumbotron k">
                        <div id="status" style="height:50px;"></div>
                        <div class="form-group form-inline text-center" id="engangsView">
                            <label for="number">Engangspassord:</label>
                            <input type="number" class="form-control" id="engangspassord">
                            <button class="btn btn-default" onclick="validateEngangs()">-></button>
                        </div>
                        <div class="form-group form-inline text-center" style="display:none" id="passordView">
                            <label for="number">Personlige Password:</label>
                            <input type="password" class="form-control" id="passord">
                            <button class="btn btn-default" onclick="validatePassord()">-></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $nope = true;

        $("#registerForm").closest("form").on("submit", function (e) {
            if ($nope) {
                e.preventDefault();
                $("#nybetalingModal").modal("show");
            }
        });

        function validateEngangs() {
            var $engangspassord = $("#engangspassord").val();
            console.log("validate", $engangspassord);
            $.getJSON("@Url.Action("Engangs", "LoggInn")", { engangspassord: $engangspassord },
                function (data) {
                    if (data === true) {
                        // Vis passord view
                        $("#engangsView").hide(200);
                        $("#passordView").show(200);
                        $("#status").empty();
                    } else {
                        $("#status").empty();
                        $("#status").append("<span class=\"alert alert-danger span5\">Feil engangskode, vennligst prøv igjen</span>");
                    }
                }
            );
        }
        function validatePassord() {
            var $passord = $("#passord").val();
            console.log("validate", $passord);
            $.getJSON("@Url.Action("Passord", "LoggInn")", { passord: $passord },
                function (data) {
                    if (data === true) {
                        // Redirect til oversikt view
                        $("#status").empty();
                        console.log("Login success!");
                        $nope = false;
                        $("#registerForm").closest("form").submit();
                    } else {
                        $("#status").empty();
                        $("#status").append("<span class=\"alert alert-danger span5\">Feil passord, vennligst prøv igjen</span>");
                    }
                }
            );
        }
    </script>
}
