@model WebprosjektBankOblig.Models.Kunde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autentisering.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autentisering.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tlf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tlf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
