@model WebprosjektBankOblig.Models.Kunde

@{
    ViewBag.Title = "Details";
}
<div class="container text-center" style="padding:60px;">


    <h2>@Html.DisplayFor(model => model.Navn)</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Personnummer)
            </dt>

            <dd class="text-right">
                @Html.DisplayFor(model => model.Personnummer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adresse)
            </dt>

            <dd class="text-right">
                @Html.DisplayFor(model => model.Adresse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tlf)
            </dt>

            <dd class="text-right">
                @Html.DisplayFor(model => model.Tlf)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Endre", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Tilbake", "Index", new { }, new { @class = "btn btn-default" })
    </p>

</div>
