@model TestOppgave.Models.Kunde

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etternavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poststed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poststed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassordGjenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassordGjenta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
