@model TestOppgave.Models.Kunde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etternavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poststed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poststed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassordGjenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassordGjenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Personnummer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
